<header class="">

<nav class="navbar bg-transparent navbar-expand-lg navbar-light">
  <!-- if the size is smaller than bg should have color -->

<a class="navbar-brand text-white" href="#">TORONTOSFATASS</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon color"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="#">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Work with me</a>
      </li>
    </ul>
  </div>

</nav>



</header>

<div class="container">
  <h1 class="page-title text-white text-center" data-shrink-original-size="90px" style="letter-spacing: 0.0444444em; font-size: 44px;">WELCOME</h1>
  <p class="mission text-white text-center">Connecting food lovers with the coolest restaurants in Toronto</p>
</div>

<%= image_tag("food.jpg", :alt => "rss feed", :class => "main_image") %>
